snippet cpp "C++ template"
#include <iostream>
using namespace std;

int main(int argc,char *agrv[]){
	
	return 0;
}
endsnippet

snippet c "C template"
#include <stdio.h>

void main(){
	
}
endsnippet

snippet html_temp "C template"
<html>
	<head>
		<titel> </titel>
	</head>
	<body>

	</body>
</html>
endsnippet
